# VARIABLES GENERALES

DEPLOYIN= #DEV PARA DESARROLLO ||| PROD PARA PRODUCCIÓN

# VARIABLES DE DESARROLLO (DEV)

PORT_DEV=
LIMIT_PASSWORD_DEV=


# VARIABLES DE PRODUCCIÓN (PROD)

PORT_PROD=
LIMIT_PASSWORD_PROD=
